*, *::after, *::before{
    /* Giữ nguyên kích thước cho phần tử (khi padding hay border sẽ không tăng thêm kích thước của phần tử) */
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    /* Background trãi dãy màu */
    background: linear-gradient(to right, hsl(200,100%,50%), hsl(175,100%,50%));

    /* Căn giữa */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Loại bỏ thanh cuộn */
    overflow: hidden;
}

.clock{
    width: 300px;
    height: 300px;
    /* .8: opacity 80% */
    background-color: rgba(255,255,255, .8);
    border-radius: 50%;
    border: 2px solid black;
    /* Giữ .number trong .clock */
    /* Định vị một phần tử dựa trên vị trí cha gần nhất của nó (Không làm ảnh hưởng đến việc hiển thị ban đầu) */
    position: relative;
}

.clock .number{
    --rotation:0;

     /* Định vị một phần tử dựa trên vị trí cha gần nhất của nó (nằm trong phần tử mẹ là relative) */
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /* Xoay */
    transform: rotate(var(--rotation));
}

.clock .number1{ --rotation: 30deg;}
.clock .number2{ --rotation: 60deg;}
.clock .number3{ --rotation: 90deg;}
.clock .number4{ --rotation: 120deg;}
.clock .number5{ --rotation: 150deg;}
.clock .number6{ --rotation: 180deg;}
.clock .number7{ --rotation: 210deg;}
.clock .number8{ --rotation: 240deg;}
.clock .number9{ --rotation: 270deg;}
.clock .number10{ --rotation: 300deg;}
.clock .number11{ --rotation: 330deg;}
.clock .number12{ --rotation: 360deg;}

.clock .hand{
    --rotation:0;

    position: absolute;
    /* Căn giữa phía dưới */
    bottom: 50%;
    /* Khoảng cách tính từ mép trái ngoài cùng của thành phần bao ngoài */
    left: 50%;
    width: 10px;
    height: 40%;
    background-color: black;

    /* Xác định lại chiều rộng và chiều cao cho thành phần. */
    transform-origin: bottom;
    /* Xác định một dịch chuyển 2D theo trục X. */
    transform:  translateX(-50%) rotate(calc(var(--rotation) * 1deg));

    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    z-index: 10;
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40%;
}
.clock .hand.second{
    width: 3px;
    height: 45%;
    background-color: red;
}
.clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: black;
}
.clock .hand.hour{
    width: 10px;
    height: 35%;
    background-color: black;
}