*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Baloo Paaji 2', cursive;
    background: #222;
    color: #aaa;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    color: #888;
    font-size: 2em;
}